@media screen and (max-width:676px){
    nav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }
    .items-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-left: 50px;
    }
}